
* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

a { text-decoration: none;  }

ul {
    list-style-type: none;
    height: 60px;
    width: 100%;
    background-color: #30426E;
    display: flex;
}

ul > li {
    color: lightgray;
    height : 100%;
    width: 180px;
    display:flex;
    align-items: center;
}

ul > li > a {
    color: lightgray;
    margin:auto;
    padding: 10px;
    font-size:20px;
    align-items: center;
}

ul > li > a:hover {
    color :white;
    border-bottom: 3px solid rgb(209, 209, 209);
}

#logo {
    color:white;
    width:150px;
    font-size: 15px;
    padding-left:10px;
    margin-right:auto;
}
#admin{
    margin-top: 13px;

}
#user-name-value {
    cursor: pointer;
    color :white;
    border-bottom: 3px solid rgb(209, 209, 209);

}
#user-name-value:hover {
    color :white;
    border-bottom: 3px solid rgb(209, 209, 209);
}